$color_1: #fffdfc;
$color_2: #bebebe;
$color_3: #1b293a;
$color_4: #ebebeb;
$color_5: #b4b4b4;
$font-family_1: "Poppins", sans-serif;
$background-color_1: #fffdfc;
$background-color_2: #1b293a;

@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: $font-family_1;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.header {
	background-image: url(images/bg.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 70vh;
	display: flex;
	align-items: center;
	text-align: center;
}
.menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	.navbar {
		ul {
			li {
				position: relative;
				float: left;
				a {
					color: $color_1;
					font-size: 18px;
					padding: 20px;
					display: block;
					font-weight: 600;
				}
			}
		}
	}
	label {
		cursor: pointer;
		display: none;
	}
}
.logo {
	color: $color_1;
	font-weight: 800;
}
#menu {
	display: none;
}
.menu-icono {
	width: 25px;
}
.header-txt {
	text-align: center;
	h1 {
		font-size: 85px;
		color: $color_1;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	p {
		color: $color_2;
		font-size: 16px;
		padding: 0 250px;
		margin-bottom: 45px;
	}
}
.btn-1 {
	display: inline-block;
	padding: 12px 45px;
	border: 1px solid #fffdfc;
	color: $color_1;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	&:hover {
		color: $color_3;
		background-color: $background-color_1;
	}
}
.general {
	padding: 50px 0;
	text-align: center;
}
.general-content {
	display: flex;
	justify-content: space-between;
	margin-top: 55px;
}
.general-1 {
	background-image: url(images/r1.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	padding: 170px 55px;
	justify-content: space-between;
}
.general-2 {
	background-image: url(images/r2.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	padding: 170px 55px;
	justify-content: space-between;
}
.general-3 {
	background-image: url(images/r3.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	padding: 170px 55px;
	justify-content: space-between;
}
.general-4 {
	background-image: url(images/r4.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	padding: 170px 55px;
}
.general-5 {
	background-image: url(images/r5.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	padding: 170px 55px;
}
.general-6 {
	background-image: url(images/r6.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	padding: 170px 55px;
}
h2 {
	font-size: 70px;
	text-transform: uppercase;
	color: $color_3;
}
.txt {
	h3 {
		font-size: 18px;
		color: $color_1;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	p {
		color: $color_4;
		font-size: 12px;
	}
}
.info-1 {
	padding: 250px 0;
	background-image: url(images/bg2.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.info-content {
	text-align: center;
	h2 {
		color: $color_1;
	}
}
span {
	color: $color_1;
}
.info-circle {
	display: flex;
	justify-content: space-between;
	margin-top: 55px;
}
.circle-txt {
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 0 10px;
	p {
		color: $color_1;
		margin-top: 25px;
	}
}
.circle-1 {
	height: 100px;
	width: 100px;
	border: 1px solid #fffdfc;
	border-radius: 50%;
	padding-top: 35px;
	h3 {
		color: $color_4;
		font-size: 16px;
	}
}
.info-2 {
	padding: 250px 0;
	background-image: url(images/bg3.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.testi {
	display: flex;
	align-items: center;
	text-align: left;
	margin-top: 35px;
}
.testi-left {
	width: 50%;
	padding-right: 25px;
}
.testi-right {
	width: 50%;
	padding-left: 35px;
}
.testi-txt {
	margin-bottom: 25px;
	img {
		width: 50px;
		margin-bottom: 15px;
	}
	h3 {
		font-size: 20px;
		color: $color_1;
	}
	p {
		color: $color_4;
		font-size: 16px;
	}
}
.footer {
	padding: 100px 0 0 0;
	text-align: center;
}
.form {
	margin-top: 35px;
}
.campo {
	margin-right: 10px;
	padding: 17px 35px;
	border: 2px solid #b4b4b4;
	outline: none;
	color: $color_3;
	&::placeholder {
		color: $color_5;
	}
}
.btn-2 {
	padding: 17px 35px;
	border: 2px solid #1b293a;
	background-color: $background-color_2;
	color: $color_1;
}
.footer-txt {
	margin-top: 100px;
	border-top: 1px solid #b4b4b47e;
	padding: 20px 0;
	p {
		color: $color_3;
		font-size: 16px;
	}
}
@media (max-width:991px) {
	.menu {
		padding: 30px;
		label {
			display: initial;
		}
		.navbar {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			background-color: $background-color_2;
			display: none;
			ul {
				ui {
					width: 100%;
				}
			}
		}
	}
	#menu {
		&:checked {
			~ {
				.navbar {
					display: initial;
				}
			}
		}
	}
	.header {
		min-height: 0vh;
	}
	.header-content {
		padding: 100% 30px;
	}
	.header-txt {
		h1 {
			font-size: 50px;
		}
		p {
			padding: 0;
		}
	}
	.general {
		padding: 30px 30px 0 30px;
	}
	.general-content {
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
	}
	.general-1 {
		height: 350px;
		padding: 100px 50px;
		margin-bottom: 10px;
	}
	.general-2 {
		height: 350px;
		padding: 100px 50px;
		margin-bottom: 10px;
	}
	.general-3 {
		height: 350px;
		padding: 100px 50px;
		margin-bottom: 10px;
	}
	.general-4 {
		height: 350px;
		padding: 100px 50px;
		margin-bottom: 10px;
	}
	.general-5 {
		height: 350px;
		padding: 100px 50px;
		margin-bottom: 10px;
	}
	.general-6 {
		height: 350px;
		padding: 100px 50px;
		margin-bottom: 10px;
	}
	.info-1 {
		padding: 200px 30px;
		background-size: cover;
		margin-top: -110px;
	}
	.info-circle {
		flex-direction: column;
		align-items: center;
	}
	.circle-txt {
		width: 100%;
		margin-bottom: 25px;
	}
	.g2 {
		margin-top: -120px;
	}
	.info-2 {
		padding: 280px 30px;
		background-size: cover;
		margin-top: -180px;
	}
	.testi {
		flex-direction: column;
	}
	.testi-left {
		width: 100%;
		padding-right: 0;
	}
	.testi-right {
		width: 100%;
		padding-left: 0;
	}
	h2 {
		font-size: 40px;
	}
	.footer {
		padding: 0;
		margin-top: -140px;
	}
	form {
		display: flex;
		flex-direction: column;
		padding: 0 50px;
	}
	.campo {
		margin: 0 0 10px 0;
	}
	.footer-txt {
		margin-top: 30px;
	}
 }